<!DOCTYPE html>
<html>

<head>
	<title>Sports Leagues</title>
</head>

<body>
	<h1>Answers</h1>
	<ol>
		<li>
			<ul>
				{% for team in one %}
				<li>{{ team.location }} {{ team.team_name }} {{ team.league_id}}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for player in two %}
					<li>{{ player.first_name }} {{ player.last_name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for player in three %}
					<li>{{ player.first_name }} {{ player.last_name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for player in four %}
					<li>{{ player.first_name }} {{ player.last_name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for player in five %}
					<li>{{ player.first_name }} {{ player.last_name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for team in six %}
					<li>{{ team.location }} {{ team.team_name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for league in seven %}
					<li>{{ league.name }} {{ league.sport }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for player in eight %}
					<li>{{ player.first_name }} {{ player.last_name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for team in nine %}
					<li>{{ team.location }} {{ team.team_name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for player in ten %}
					<li>{{ player.first_name }} {{ player.last_name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for player in eleven %}
					<li>{{ player.first_name }} {{ player.last_name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for team in twelve %}
					<li>{{ team.location }} {{ team.team_name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for player in thirteen %}
					<li>{{ player.first_name }} {{ player.last_name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for team in fourteen %}
					<li>{{ team.location }} {{ team.team_name }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			<ul>
				{% for player in fifteen %}
					<li>{{ player.first_name }} {{ player.last_name }} - Number of teams played for: {{ player.num_teams }}</li>
				{% endfor %}
			</ul>
		</li>
	</ol>
</body>

</html>